{% extends '::base.html.twig' %}
 
{% block title %}Pedido creation - {{ app.request.host }}{% endblock %}
 
{% block main %}
    <h1>Pedido creation</h1>
    <form id="pedido_create" action="{{ path('pedido_create') }}" method="post" {{ form_enctype(form) }}>
    	{{ form_widget(form) }}
	</form>

	<br/>
    <button class="btn btn-success" form="pedido_create" type="submit">Create</button>
    <a class="btn" href="{{ path('pedido') }}">Back to the list</a>
{% endblock %}