{% extends '::admin.html.twig' %}
 
{% block title %}{{ entity.title }} - {{ 'main.poll' | trans }} - {{ app.request.host }}{% endblock %}

{% block javascripts %}
	<link class="include" rel="stylesheet" type="text/css" href="/css/jquery.jqplot.min.css" />
	<!--[if lt IE 9]><script language="javascript" type="text/javascript" src="../excanvas.js"></script><![endif]-->


	<script class="include" type="text/javascript" src="/js/jquery.jqplot.min.js"></script>
  <script class="include" language="javascript" type="text/javascript" src="/js/plugins/jqplot.pieRenderer.min.js"></script>
  <script class="include" language="javascript" type="text/javascript" src="/js/plugins/jqplot.donutRenderer.min.js"></script>
  <script class="include" language="javascript" type="text/javascript" src="/js/plugins/jqplot.highlighter.js"></script>
  <script class="code" type="text/javascript">
  var plot1= null;
  function grafico(){
      var data = [

      {% for field in fields %}
	    	['{{field}}', {{results[loop.index-1]}}],
	    {% endfor %}

        // ['qwed', 10830693],
        // ['w', 6973880],

      ];
      plot1 = jQuery.jqplot ('chart1', [data],{ 
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer, 
          rendererOptions: {
            showDataLabels: true,
            sliceMargin: 6, 
            //fill: false,
            lineWidth: 20,
            padding : 15,
            //sliceMargin :20,
            //showDataLabels :true,
            shadow:true
          }
        },
        legend: { 
          show:true,
          location: 's',
          placement: 'outsideGrid',
          border: 'none',
          marginTop : 0,
          marginBottom :0,
        },
        grid:{
          borderColor:'transparent',
          shadow:false,
          drawBorder:false,
          shadowColor:'transparent',
          background:'transparent'
        },
        highlighter: {
          show: true,
          useAxesFormatters: false, // must be false for piechart   
          tooltipLocation: 'n',
          formatString:'%s, %P ',
        }
      }
    );
  }
  window.onresize = function(event) {
      plot1.replot({ resetAxes: true });
  }
  window.onload=grafico;
  </script>
{% endblock %}

{% block main %} 
    {% include 'FiterPollBundle:Poll:parcial/show.html.twig' with {'entity': entity, 'busqueda': true} %}
        
    <div id="chart1" style="height:450px; width:100%;max-width:450px;margin:0 auto;"></div>

    


    
{% endblock %}