<nav {% if oculto == true %}class="oculto"{% endif %}>
<ul class="menuLateral before">
    <li {% if slug=="inicio" %}class="activa"{% endif %}>
        <a href="{{ path( 'inicio' ) }}">Inicio</a>
    </li>
    {% for entity in entities %}
    <li {% if slug==entity.slug %}class="activa"{% endif %}>
        {% if tipo=='medio' %}
            <a href="{{ path('mediocategoria', { 'slug': entity.slug }) }}">{{ entity.nombre }}</a> 
        {% else %}
            <a href="{{ path('articulocategoria', { 'slug': entity.slug }) }}">{{ entity.nombre }}</a>
        {% endif %}        
    </li>
    <li class="subcat">
        <ul style="margin-left:.5em;">
            {% for subcategoria in entity.subcategoria %}
            <li {% if slug==subcategoria.slug %}class="activa"{% endif %}>
                <a href="{{ path('articulosubcategoria', { 'slugCategoria': entity.slug, 'slug': subcategoria.slug }) }}">{{ subcategoria.nombre}}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
</nav>


