{% if (entity.usuario == app.user or is_granted('ROLE_ADMIN')) %}
    <span class="bloque">
        <img class="ico" alt="editar" src="/img/edit.png" />
        <a href="{{ path('schematic_edit', { 'id': entity.id, 'slug': entity.slug }) }}">{{ 'main.editar' | trans }}</a>
    </span>
{% endif %}

<p>
    {{ 'main.por' | trans }} <a href="{{ path('articulousuario', { 'nombre': entity.usuario }) }}">{{ entity.usuario }} </a>
    {#% if busqueda is not defined %#}
    en 
        {#% for categoria in entity.categoria|slice(0, 3) %}
             <a href="{{ path('articulocategoria', { 'slug': categoria.slug }) }}">{{ categoria }}</a> 
        {% endfor %#}
    {#% endif %#}

    {% if entity.fechaPublicacion %}{{ entity.fechaPublicacion|time_ago_in_words }}{% endif %}
    

        <img class="ico" alt="visitas" src="/img/ojo.png" /> {{ entity.visitas }}
        <a href="{{ path('schematic_like', { 'id': entity.id }) }}"><img class="ico" alt="likes" src="/img/like.png" /></a> {{ entity.likes }}
        <a href="{{ path('schematic_dislike', { 'id': entity.id }) }}"><img class="ico" alt="likes" src="/img/dislike.png" /></a> {{ entity.disLikes }}
  
    <br/>

</p>

