{% extends '::base.html.twig' %}
 
{% block title %}AnswerGroup{% endblock %}

{% block main %} 
    <h1>AnswerGroup</h1>
    Id: {{ entity.id }}<br/>
    Author: {{ entity.author }}<br/>
    Clientip: {{ entity.clientIp }}<br/>
    Createdat: {{ entity.createdAt|date('Y-m-d H:i:s') }}<br/>
    <a href="{{ path('answergroup') }}">Back to the list</a>
    <a href="{{ path('answergroup_edit', { 'id': entity.id }) }}">Edit</a>
    <form action="{{ path('answergroup_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
{% endblock %}