{% extends '::base.html.twig' %}
 
{% block title %}{{ 'main.photoContests' | trans }} - {{ app.request.host }}{% endblock %}

{% block main %}
<article>
    <header>
       <h2>{{ 'main.photoContest' | trans }}</h2>
    </header>

    <form id="contest_update_form" action="{{ path('contest_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}  
            
        {{ form_label(edit_form.titulo) }}
        {{ form_widget(edit_form.activo) }}<span>{{ form_label(edit_form.activo,label|default(null)) }}</span>
        {{ form_widget(edit_form.activarComentarios) }}<span>{{ form_label(edit_form.activarComentarios,label|default(null)) }}</span><br>
        {{ form_widget(edit_form.titulo) }}

        {{ form_rest(edit_form) }}
    </form>

    <form id="contest_delete_form" action="{{ path('contest_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
    </form>

    <br/>
    <link rel="stylesheet" type="text/css" href="/bundles/fiterdefault/css/bootstrap.min.css" />
    <a class="btn btn-primary" href="{{ path('contest') }}">{{ 'main.back' | trans }}</a>
    <button form="contest_update_form" class="btn btn-success" type="submit">{{ 'main.edit' | trans }}</button>
    <button form="contest_delete_form" class="btn btn-danger" type="submit">{{ 'main.delete' | trans }}</button>
    
</article>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/js/formoid/jquery.uniform.min.js"></script>
<script type="text/javascript"> 
    $("form").find("input[type=file]").uniform();
    $("form").find("input[type=file]").change(function() {
        readURL(this)
    });
    $(".uploader span.filename").text("{{ 'main.noFileSelected' | trans }}");
    $(".uploader span.action").text("Seleccionar");
</script>
{% endblock %}













