<span class="bloque">
    <img class="ico" alt="editar" src="/img/edit.png" />
    <a href="{{ path('medio_edit', { 'id': entity.id, 'slug': entity.slug }) }}">editar</a>
</span>

<p>
    Por <a href="{{ path('mediousuario', { 'nombre': entity.usuario }) }}">{{ entity.usuario }} </a>
    en 
    {% for categoria in entity.categoria|slice(0, 3) %}
         <a href="{{ path('mediocategoria', { 'slug': categoria.slug }) }}">{{ categoria }}</a> 
    {% endfor %}

    {% if entity.fechaPublicacion %}{{ entity.fechaPublicacion|time_ago_in_words }}{% endif %}
    
    <img class="ico" alt="visitas" src="/img/ojo.png" /> {{ entity.visitas }}
    <a href="{{ path('medio_like', { 'id': entity.id }) }}"><img class="ico" alt="likes" src="/img/like.png" /></a> {{ entity.likes }}
    <a href="{{ path('medio_dislike', { 'id': entity.id }) }}"><img class="ico" alt="likes" src="/img/dislike.png" /></a> {{ entity.disLikes }}<br/>
</p>

