{% extends '::base.html.twig' %}
 
{% block title %}{{ 'main.paymentDetails' | trans }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

	{% for flashMessage in app.session.flashbag.get('notice') %}
	    <div class="flash-notice">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
	    <div class="flash-error">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<h2>{{ 'main.paymentDetails' | trans }}</h2>

	<table class="donationcart">
		  <thead>
		    <tr>
		      	<th>{{ 'main.products' | trans }}</th>
				<th>{{ 'main.price' | trans }}</th>
				<th>{{ 'main.qty' | trans }}</th>
				<th>{{ 'main.subTotal' | trans }}</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		  	{% set total = 0.00 %}
		  	{% for product in cart.products %}
		        <tr>
			        <td class="left">{{product['product'].name }}</td>
					<td>{{product['product'].price }}€</td>
					<td>{{product['qty']}}</td>
					{% set subtotal = product['product'].price*product['qty'] %}
					{% set total = total+subtotal %}
					<td class="price">{{ subtotal }}€</td>
			    </tr>
		    {% endfor %}
		  </tbody>
		  <tfoot>
		  	<tr>
		        <td>&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
		    </tr>
		    <tr>
		        <td></td>
				<td></td>
				<td style="text-align:right"><strong>Total price: &nbsp;</strong></td>
				<td><span class="price">{{total}}€</span></td>
		    </tr>
		  </tfoot>
		</table>

	<h3>{{ 'main.mcUser' | trans }}:</h3>
	{% include 'FiterMinecraftBundle:Authme:parcial/logedUser.html.twig' %}
	
	<form id="paymentdetails" action="" method="post" {{ form_enctype(form) }}>
	    {{ form_errors(form) }}  

	 		{#{ladybug_dump(form)}#}
	        {#{ form_widget(form.method) }#}
	        {#{ form_label(form.method) }#}
	     	


			{#{ladybug_dump(form)}#}

	     	

			{{ form_widget(form.method, {'attr': {'class': 'paymentMethod'}}) }}


			
	        <label for="jms_choose_payment_method_method_0" class="required">
	        	<img src="/bundles/fiterminecraftdonation/images/mtgox.png" />
	        </label>

	        {#{ form_label(form.method) }#}
	        
	        <label for="jms_choose_payment_method_method_1" class="required">
	        	<img src="/bundles/fiterminecraftdonation/images/paypal.png" />
	        </label>

	        <label for="jms_choose_payment_method_method_2" class="required">
	        	<img src="/bundles/fiterminecraftdonation/images/bitcoin.png" />
	        </label>
			

	        {#{ form_label(form.data_paypal_express_checkout) }#}
	        {#{ form_widget(form.data_paypal_express_checkout) }#}
	        {{ form_widget(form.data_paypal_express_checkout) }}
	        {{ form_widget(form.data_bitcoin_express_checkout) }}
	        {{ form_widget(form.data_wikp_mtgox_ipn) }}

	        
	        
	    {{ form_rest(form) }}
	</form>

	<br/>
	<button class="btn btn-success" form="paymentdetails" type="submit">
		<i class="icon-large icon-circle-arrow-right"></i>{{ 'main.checkout' | trans }}
	</button>
	<a href="{{ path('product') }}" class="btn btn-primary">
		<i class="icon-large icon-shopping-cart"></i>{{ 'main.continueShopping' | trans }}
	</a>
	<a class="btn btn-primary" href="{{ path('donation_cart') }}">
		<i class="icon-large icon-circle-arrow-left"></i>{{ 'main.back' | trans }}
	</a>
	<a href="{{ path('donation_cart_clear') }}" class="btn btn-danger">
		<i class="icon-large icon-shopping-cart"></i>{{ 'main.clearCart' | trans }}
	</a>















{% endblock %}