{% extends '::base.html.twig' %}
 
{% block title %}Minecraft - {{ entity.username }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

{% include 'FiterMinecraftAuthBundle:Authme:parcial/search.html.twig' %}

<h2>{{ entity.username }}</h2>	

    <!--<strong>Register:</strong> &nbsp;{#{ entity.created|date("Y-m-d h:i:s") }#} ({#{ entity.created|time_ago_in_words }#})<br/>-->
    <strong>{{ 'mc.Lastlogin' | trans }}:</strong> {{ entity.lastlogin }} ({{ entity.lastlogin|time_ago_in_words }})<br/>

    {% if accounts|length > 0 %}
	    <strong>Cuentas alternativas:</strong>
	    {% for account in accounts %}
	    	<a href="{{ path('authme_show', { 'id': account.id }) }}">{{account.username}}</a> 
	    {% endfor %}
	    <br/>
    {% endif %}

    <!--<img style="float:left;margin-right:3px" src='/mcskin/minecraft.php?u={{ entity.username }}&a=true' />-->
    <div style="float:left;margin-right:3px;width:53px;height:53px">
        <img src="{{ path('authme_skin', { 'id': entity.id, 't' : '1' }) }}" />
    </div>

    {% include 'FiterMinecraftAuthBundle:Authme:parcial/datos.html.twig' %}

    {% include 'FiterMinecraftAuthBundle:Authme:parcial/banButtons.html.twig' %}
    
    <div style="clear:both"></div>
    {% render "FiterMinecraftAuthBundle:Jobs:showUser" with { 'username': entity.username } %}
    {% render "FiterMinecraftAuthBundle:Skillz:showUser" with { 'username': entity.username } %}

    <br/>

    {% include 'FiterMinecraftAuthBundle:Authme:parcial/skinPreview.html.twig' %}

    {% render "FiterDefaultBundle:Default:map" with { lat : entity.latitude , lang :entity.longitude, height : 300, zoom :2 } %}

<script type="text/javascript" src="/mcskin/three.js"></script>
<script type="text/javascript">
	//var defaultImages = ['/mcskin/{{ entity.username }}.png'];
	//var defaultImages = ['/mcskin/img/{{ entity.username }}.png'];
	//var defaultImages = ['/mcskin/minecraft.php?u={{ entity.username }}'];
	var defaultImages = ["{{ path('authme_skin', { 'id': entity.id, 't' : '0' }) }}"];
</script>
<script type="text/javascript" src="/mcskin/bundle.js"></script>




<form id="form_delete_authme" action="{{ path('authme_delete', { 'id': entity.id }) }}" method="post">
    {{ form_widget(delete_form) }}
</form>



	<link rel="stylesheet" type="text/css" href="/bundles/fiterdefault/css/bootstrap.min.css" />
    <style type="text/css">
		#skinpreview input[type="checkbox"]{margin-right: .2em;vertical-align: initial;}
	</style>


    <a class="btn btn-success" href="{{ path('authme_edit', { 'id': entity.id }) }}">{{ 'main.edit' | trans }}</a>
    <button class="btn btn-danger" form="form_delete_authme" type="submit">{{ 'main.delete' | trans }}</button>
    <a class="btn btn-primary" href="{{ path('authme') }}">{{ 'main.back' | trans }}</a>

<script type="text/javascript" src="/js/formoid/jquery.uniform.min.js"></script>
<script type="text/javascript"> 
$(function () {
       $("form").find("input[type=file]").uniform();

    $(".uploader22 span.filename").text("No se ha seleccionado ningún archivo");
    $(".uploader22 span.action").text("Seleccionar"); 
    $(".uploader22 span.action").text("Seleccionar");
});

</script>


{% endblock %}