{% extends '::base.html.twig' %}
	 
{% block title %}Subcategoría{% endblock %}

{% block main %}
<h1>Subcategoría</h1>
<article>
    <header>
        <h3><a href="{{ path('subcategoria_show', { 'id': entity.id, 'nombre': entity.slug }) }}">{{ entity.slug }}</a></h3>
        <a href="{{ path('subcategoria_edit', { 'id': entity.id, 'slug': entity.slug }) }}">editar</a>
    </header>

    Imagen {{ entity.imagen }}<br/>

    <div>
        <p>
        Por: <a href="#">{{ entity.usuario }} </a>
        Visitas {{ entity.visitas }}
        Likes {{ entity.likes }}<br/>
        </p>
        Fechapublicacion {% if entity.fechaPublicacion %}{{ entity.fechaPublicacion|date('Y-m-d H:i:s') }}{% endif %}<br/>
        Fechaactualizacion {% if entity.fechaActualizacion %}{{ entity.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}
    </div>
    <a href="{{ path('subcategoria') }}">Volver a la lista</a>
    <a href="{{ path('subcategoria_edit', { 'id': entity.id, 'slug': entity.slug }) }}">Editar</a>
    <form action="{{ path('subcategoria_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">Delete</button>
    </form>
</article>  
{% endblock %}