{% extends '::base.html.twig' %}
 
{% block title %}{{ 'main.pollEdit' | trans }} - {{ app.request.host }}{% endblock %}

{% block main %} 
    <h1>{{ 'main.pollEdit' | trans }}</h1>
    <form action="{{ path('poll_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <span>{{ form_label(edit_form.title) }}</span>
        {{ form_widget(edit_form.isActive) }}<span>{{ form_label(edit_form.isActive,label|default(null)) }}</span>

        {{ form_widget(edit_form.principal) }}<span>{{ form_label(edit_form.principal,label|default(null)) }}</span>

        {{ form_widget(edit_form.answersVisible) }}<span>{{ form_label(edit_form.answersVisible,label|default(null)) }}</span><br>
        {{ form_widget(edit_form.title) }}

        {#{ form_label(edit_form.fields) }#}
        <ul class="listasYoutube" data-prototype="{{ form_widget(edit_form.fields.vars.prototype)|e }}">
            {% for field in edit_form.fields %}
                <li><label>Respuesta</label></li>
                <li>{{ form_widget(field.title) }}</li>
            {% endfor %}
        </ul> 
        {{ form_row(edit_form._token) }}  
        {{ form_rest(edit_form) }}



        <p><button type="submit">{{ 'main.edit' | trans }}</button></p>
    </form>
    <a href="{{ path('poll') }}">{{ 'main.backList' | trans }}</a>
    <form action="{{ path('poll_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
        <button type="submit">{{ 'main.delete' | trans }}</button>
    </form>
{% endblock %}



