<a href="{{ path('authme_skin', { 'id': entity.id, 't' : '0' }) }}" type="application/octet-stream" download>
    <img src="{{ path('authme_skin', { 'id': entity.id, 't' : '0' }) }}">
</a>
<link rel="stylesheet" type="text/css" href="/bundles/fiterdefault/css/bootstrap.min.css" />
<a href="http://www.minecraft.net/profile/skin/remote?url={{ path('authme_skin', { 'id': entity.id, 't' : '0' }) }}" class="btn btn-success">Ponte este skin</a>
<a href="{{ path('authme_skin', { 'id': entity.id, 't' : '0' }) }}" type="application/octet-stream" download class="btn btn-success">{{ 'main.skinDownload' | trans }}</a><br/>
<div id="skinpreview"></div>

{#
<form name="imageform">
	<strong>{{ 'main.skinSelect' | trans }}:</strong> <input type=file name="fileinput" accept="image/png"><br>
	{{ 'main.skinAccepts' | trans }}
</form><br/><br/>
#}
