{% extends '::base.html.twig' %}
 
{% block title %}{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

<div class="loginContenedor">
    <div>
        <h3><a href="#">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</a></h3>
        {% if error %}
            <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
        {% endif %}

        <form id="form_login" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" /><br/>

            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
            <input type="password" id="password" name="_password" required="required" /><br/>
            
            <br/>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <span><label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></span>
        </form>
        <p><a href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot'|trans({}, 'FOSUserBundle') }}</a></p>
        <button class="ancho" type="submit" id="_submit" form="form_login" name="_submit">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
        
    </div> 

    <div>
        {% render "FOSUserBundle:Registration:register" with {'layout':false}  %} 
    </div>
</div> 
{% endblock %}
    
    
    
    
     










       
 