{% extends '::base.html.twig' %}
 
{% block title %}{{ 'main.productEdit' | trans }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

    <h3>{{ 'main.productEdit' | trans }}</h3>
    <form id="product_update" action="{{ path('product_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}  

        {{ form_label(edit_form.name) }}
        {{ form_widget(edit_form.activo) }}<span>{{ form_label(edit_form.activo,label|default(null)) }}</span>
        {{ form_widget(edit_form.name) }}

        <img id="blah" src="{#{ asset(['uploads/products/', entity.path]|join) }#}" alt="" />
        {{ form_label(edit_form.imagen) }}      
        {{ form_widget(edit_form.mostrarImagen) }}<span>{{ form_label(edit_form.mostrarImagen,label|default(null)) }}</span><br>
        {{ form_widget(edit_form.imagen) }}

        {{ form_rest(edit_form) }}
    </form>
    
    <form id="product_delete" action="{{ path('product_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
    </form>
    
    <br/>
    <button class="btn btn-success" form="product_update" type="submit">{{ 'main.edit' | trans }}</button>
    <a class="btn" href="{{ path('product') }}">{{ 'main.back' | trans }}</a>
    <button class="btn btn-danger" id="product_delete" type="submit">{{ 'main.delete' | trans }}</button>
{% endblock %}




{% block javascripts %}
    <script type="text/javascript" src="/js/formoid/jquery.uniform.min.js"></script>
    <script type="text/javascript"> 
        $("form").find("input[type=file]").uniform();
        $("form").find("input[type=file]").change(function() {
            readURL(this)
        });
        $(".uploader span.filename").text("{{ 'main.noFileSelected' | trans }}");
        $(".uploader span.action").text("Seleccionar");
    </script>
{% endblock %}