{% extends '::base.html.twig' %}
 
{% block title %}{{ 'main.product' | trans }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

    <h2><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.name }}</a></h2>
    
    {% if entity.path and entity.mostrarImagen %}
        <div id="menu_imagen">
            <div class="menu">
                <a target="_blank" href="{{ asset(['uploads/products/', entity.path]|join) }}"><img src="/img/lupa27.png" title="Aumentar" /></a>
                {#<a target="_blank" href="{{ asset(['uploads/products/', entity.path]|join) }}"><img src="/img/lupa27.png" title="Descargar" /></a>#}
            </div>
            <img id="menu_imagen" src="{{ asset(['uploads/products/', entity.path]|join) }}" alt="{{ entity.name}}" class="imgArticulo" />
        </div>
    {% endif %}

    <div>{{ entity.description|raw }}</div>

    {#
    Category: {{ entity.category }}<br/>
    Price: {{ entity.price }}<br/>
    Stocklimit: {{ entity.stocklimit }}<br/>
    Expiresin: {{ entity.expiresin }}<br/>
    Userlimit: {{ entity.userlimit }}<br/>
    #}
    
    <form id="product_delete" action="{{ path('product_delete', { 'id': entity.id }) }}" method="post">
        {{ form_widget(delete_form) }}
    </form> 

     <br/>
    <a class="btn" href="{{ path('product') }}">{{ 'main.back' | trans }}</a>
    <a class="btn btn-success" href="{{ path('product_edit', { 'id': entity.id }) }}">{{ 'main.edit' | trans }}</a>
    <button class="btn btn-danger" form="product_delete" type="submit">{{ 'main.delete' | trans }}</button>
{% endblock %}




        