{% extends '::base.html.twig' %}
 
{% block title %}{{ app.request.host }}{% endblock %}
 
{#% block rss_header %}
<link rel="alternate" type="application/rss+xml" title="RSS de los artículos más recientes" href="{{ path('alt_articulo', { '_format': 'rss' }) }}" />
{% endblock %#}

{#% block rss_icon %}
    <a href="{{ path('alt_articulo', { '_format': 'rss' }) }}">
        <div class="socialmod_rss"></div>
    </a>
{% endblock %#}


{% block main %} 
    <article>
        <header>
            <h2>{{ 'main.schematics' | trans }}</h2>
        </header>

        <a href="{{ path('schematic_new') }}">{{ 'main.addNewSchematic' | trans }}</a><br/>
        <style>
        .asdddd{
            display:inline-block;
            float: left;
        }
        .asdddd img{
            width: 170px;
            height: 114px;
        }
        </style>
        {% for entity in entities %}

        <div class="asdddd">
            
            <h3><a href="{{ path('schematic_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h3>
            {#% include 'FiterDefaultBundle:Articulo:parcial/datos.html.twig' with {'entity': entity, 'busqueda': true} %#}
           
            
            {% include 'FiterMinecraftSchematicBundle:Schematic:parcial/imgCat.html.twig' with {'entity': entity} %}
 
            
        </div>

        {% endfor %}
        <div style="clear: both;"></div>

    </article>
{% endblock %}   
    
{% block paginador %}
<section style="" class="paginador">
    <ul>
        {% if paginador.currentPage > 1 %}
            <li><a href="{{ path('schema', { 'page': paginador.previousPage}) }}">Anterior</a></li>
        {% endif %}

        {% for page in paginador.minPageInRange..paginador.maxPageInRange %}
            {% if page == paginador.currentPage %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ path('schema', { 'page': page }) }}">{{ page}}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginador.currentPage < paginador.lastPage %}
            <li><a href="{{ path('schema', { 'page': paginador.nextPage })}}">Siguiente</a></li>
        {% else %}
            
        {% endif %}
    </ul>
</section>
{% endblock %}