{% extends '::admin.html.twig' %}
	 
{% block title %}Medio{% endblock %}

{% block main %}
<article>
    <header>
        <h3><a href="{{ path('admin_medio_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.titulo }}</a></h3>
        {% include 'FiterAdminBundle:Medio:parcial/datos.html.twig' with {'entity': entity} %}
    </header>
        
    {% if entity.path %}
        <img src="{{ asset(['uploads/medios/', entity.path]|join) }}" alt="{{ entity.titulo}} imagen no encontrada" class="imgMedio" />
    {% endif %}
        
    <div style="clear: both"></div>
    <div>{{ entity.contenido|raw }}</div>
    <div style="clear: both"></div>
    
    {% if entity.videosYoutube or entity.canalYoutube or entity.listasYoutube %}
        <div id="my-widget1"></div>
    {% endif %} 
      
    {% if entity.twitter %}
        <div id="twitter"></div> 
    {% endif %}     
       
    {% if entity.rss %}    
        <h3><a href="#">Noticias RSS</a></h3>
        <div id="rss"></div>
    {% endif %} 
    
    <div class="comentarios"><a href="#">Comentarios</a></div>
    {#% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': entity.id } %#}
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'type_' ~ entity.id } %}

    
    <a class="boton" href="{{ path('admin_medio') }}">Volver</a>
</article>   
{% endblock %}






{% block javascripts %}
    <script type="text/javascript" src="/js/jquery-ui.js"></script>     
    {% if entity.videosYoutube|length or entity.canalYoutube or entity.listasYoutube|length %}
        <script type="text/javascript" src="/js/jQuery.tubeplayer.js"></script>
        <script type="text/javascript" src="/js/videoSearch.js"></script>
        <script type="text/javascript" src="/js/videoSearchStr.js"></script>
        <script type="text/javascript" src="/js/ytApi.js"></script>
       <script>
            $(document).ready(function(){
                $( "#my-widget1" ).videoSearch({
                     {% if entity.videosYoutube|length  %}
                        videoInicial: "{{entity.videosYoutube['0'].enlace|youtube_id}}",
                     {% endif %}     
                        busquedaInicial: "{{ entity.titulo }}",
                        listaVideos: [ {% for video in entity.videosYoutube %}"{{video.enlace|youtube_id}}"{% if loop.last != loop.index %},{% endif %}{% endfor %} ],
                        listaPlaylists: [ {% for lista in entity.listasYoutube %}"{{lista.enlace|youtube_playlist_id}}"{% if loop.last != loop.index %},{% endif %}{% endfor %} ],
                        canal: "{{ entity.canalYoutube|youtube_user_id }}",
                });
            });
        </script>
    {% endif %}   
    {% if entity.rss %}
    <script src="/js/zrssfeed/jquery.zrssfeed.min.js" type="text/javascript"></script>   
    <script>
    $(document).ready(function(){
        $('#rss').rssfeed('{{ entity.rss }}', { 
            //limit: 5,
            linktarget:'_blank',
            linkcontent:true,
            sort:'date',
            sortasc:'false',
            //titletag:'h3',
            //snippet:false,
            media:false,
            //content:false,
            //historical:true,
        });
    });
     </script>
    {% endif %}  
     
    <script src="/js/ztwitterfeed/jquery.ztwitterfeed.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function () {
      $('#twitter').twitterfeed('{{ entity.twitter }}', {
        limit: 7,
        tweetname: false,
        tweettime:false,
      });
    });
    </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/themes/moi/jquery.ui.all.css">
    <link rel="stylesheet" href="/css/default.css">
{% endblock %}
    
    
    
{% block listaMasVistos %}
    <header><h3 id="listaMasVistos">Más vistos</h3></header>
    {% render 'FiterDefaultBundle:Medio:listaMasVistos' %}
    <br/>
{% endblock %}    
    
{% block listaMasValorados %}
    <header><h3 id="listaMasValorados">Más valorados</h3></header>
    {% render 'FiterDefaultBundle:Medio:listaMasValorados' %}
    <br/>
{% endblock %}     
    
    
{% block asideL %}
    {% render 'FiterDefaultBundle:Categoria:menu' with {'slug': "inicio", 'tipo' : 'medio'} %}
{% endblock %}    
    
    
    
    
    
    
 