  
<h2>Minecraft server</h2>
<div id="minecraft_server_start" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Arrancar el servidor de minecraft</h3>
    </div>
    <div class="modal-body">
        <!--<h4>Arrancar el servidor de minecraft</h4>-->
        <p>Estas seguro que deseas arrancar el servidor de minecraft?</p>             
    </div>
    <div class="modal-footer">
        <a class="btn btn-success" href="{{ path('minecraft_server_start')}}">Start</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<a data-toggle="modal" href="#minecraft_server_start" class="btn btn-success">Start</a>


<div id="minecraft_server_stop" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Parar el servidor de minecraft</h3>
    </div>
    <div class="modal-body">
        <!--<h4>Parar el servidor de minecraft</h4>-->
        <p>Estas seguro que deseas parar el servidor de minecraft?</p>             
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="{{ path('minecraft_server_stop')}}">Stop</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<a data-toggle="modal" href="#minecraft_server_stop" class="btn btn-primary">Stop</a>

<div id="minecraft_server_stop_force" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Forzar la parada del servidor de minecraft</h3>
    </div>
    <div class="modal-body">
        <!--<h4>Forzar la parada del servidor de minecraft</h4>-->
        <p>Estas seguro que deseas forzar la parada del servidor de minecraft?</p>             
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="{{ path('minecraft_server_stop_force')}}">Force stop</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<a data-toggle="modal" href="#minecraft_server_stop_force" class="btn btn-danger">Force stop</a>


<style>
div.scroll{ width:100%;margin-bottom:2em;max-height:400px;overflow-y: auto; }
</style>


<h2>Completed Backups</h2>
<div class="scroll">
    <pre>{{backups}}</pre>
</div>

{% if backupstemp %}
    <h2>Running backups</h2>
    <div class="scroll">
        <pre>{{backupstemp}}</pre>
    </div>
{% endif %}

<div id="bkp_full" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Hacer un copia de seguridad de fiter completa</h3>
    </div>
    <div class="modal-body">
        <h4>Estas seguro que deseas hacer un copia de seguridad de fiter completa?</h4>
        <p>Esto puede hacer que el servidor se ralentize durante unos minutos</p>             
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="{{ path('backup_full')}}">Copia de seguridad de fiter completa</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<a data-toggle="modal" href="#bkp_full" class="btn btn-danger">Fiter Completa</a>

<div id="bkp_diff" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Hacer un copia de seguridad de fiter diferencial</h3>
    </div>
    <div class="modal-body">
        <h4>Estas seguro que deseas hacer un copia de seguridad de fiter diferencial?</h4>
        <p>Esto puede hacer que el servidor se ralentize durante unos minutos</p>             
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="{{ path('backup_diff')}}">Copia de seguridad de fiter diferencial</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<a data-toggle="modal" href="#bkp_diff" class="btn btn-primary">Fiter Diferencial</a>


<div id="bkp_fullmc" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Hacer un copia de seguridad de minecraft completa</h3>
    </div>
    <div class="modal-body">
        <h4>Estas seguro que deseas hacer un copia de seguridad de minecraft completa?</h4>
        <p>Esto puede hacer que el servidor se ralentize durante unos minutos</p>             
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger" href="{{ path('backup_fullmc')}}">Copia de seguridad minecraft completa</a>
        <a href="#" class="btn" data-dismiss="modal">Close</a>
    </div>
</div>
<a data-toggle="modal" href="#bkp_fullmc" class="btn btn-danger">MC Completa</a>

<a class="btn btn-primary" href="{{ path('backup_delete_all')}}">Delete all</a>


<h2>Server log</h2> 
<div class="scroll">
    <pre>{{log}}</pre>
</div>