{% extends '::base.html.twig' %}
 
{% block title %}{{ 'main.photoShow' | trans }} - {{ entity.titulo }} - {{ app.request.host }}{% endblock %}

{% block main %}
<article>
    <header>
    	{% for flashMessage in app.session.flashbag.get('notice') %}
		    <div class="flash-notice">
		        {{ flashMessage }}
		    </div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
		    <div class="flash-error">
		        {{ flashMessage }}
		    </div>
		{% endfor %}

       <h3><a href="{{ path('photo_show', { 'id': entity.id }) }}">{{ entity.titulo }}</a></h3>
       {% include 'FiterPhotoContestBundle:Photo:parcial/datos.html.twig' with {'entity': entity} %}
    </header>

    <img style="margin-bottom:1em;" src="{{ asset(  ['/uploads/photoContest/', entity.path]|join  )|imagine_filter('thumb_666x375') }}" alt="imagen no encontrada" />

    {{ entity.descripcion|raw }}<br/>

	<form id="photo_delete_form" action="{{ path('photo_delete', { 'id': entity.id }) }}" method="post">
	    {{ form_widget(delete_form) }}
	</form>

	<link rel="stylesheet" type="text/css" href="/bundles/fiterdefault/css/bootstrap.min.css" />
	<a class="btn btn-primary" href="{{ path('photo') }}">{{ 'main.back' | trans }}</a>
	{#
	<a class="btn btn-success" href="{{ path('photo_edit', { 'id': entity.id }) }}">{{ 'main.edit' | trans }}</a>
	<button class="btn btn-danger" form="photo_delete_form" type="submit">{{ 'main.delete' | trans }}</button>#}

</article>
{% endblock %}

{% block javascripts %}{% endblock %}