{% extends '::base.html.twig' %}
 
{% block title %}Minecraft {{ 'main.usuarios' | trans }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

<h2>Minecraft</h2>

{% include 'FiterMinecraftBundle:Authme:parcial/search.html.twig' %}

<a href="{{ path('authme_login')}}">{{ 'mc.login' | trans }}</a><br/>
<a href="{{ path('authme_getnacionalidades')}}">{{ 'main.getNacionalidades' | trans }}</a><br/>
<a href="{{ path('authme_banned_ips')}}">{{ 'mc.BannedIps' | trans }}</a><br/>
<a href="{{ path('authme_banned')}}">{{ 'mc.BannedUsers' | trans }}</a><br/>
<a href="{{ path('authme_online')}}">{{ 'main.onlineUsers' | trans }}</a><br/>
<a href="{{ path('authme')}}">{{ 'main.registeredUsers' | trans }}</a><br/>
<a href="{{ path('authme_show_skin')}}">{{ 'main.userSkins' | trans }}</a><br/>

{% endblock %}