{% extends '::base.html.twig' %}
 
{% block title %}Minecraft {{ 'main.usuarios' | trans }} - {{ app.request.host }}{% endblock %}
 
{% block main %}

<h2>Minecraft</h2>

{% include 'FiterMinecraftBundle:Authme:parcial/search.html.twig' %}

<h3>Admin</h3>
<a href="{{ path('jobs_info')}}">Jobs info</a><br/>
<a href="{{ path('skillz_info')}}">Skills info</a><br/>
<a href="/coreprotect">Coreprotect</a></br>
<a href="{{ path('authme_getnacionalidades')}}">{{ 'main.getNacionalidades' | trans }}</a><br/>
<a href="{{ path('authme_banned_ips')}}">{{ 'mc.BannedIps' | trans }}</a><br/>
<a href="{{ path('authme_banned')}}">{{ 'mc.BannedUsers' | trans }}</a><br/>
<a href="/spaceBukkit/SpaceBukkitPanel-1.2.1/index.php">Spacebukkit</a></br>

<h3>Más</h3>
<a href="{{ path('authme_online')}}">{{ 'main.onlineUsers' | trans }}</a><br/>
<a href="{{ path('authme')}}">{{ 'main.registeredUsers' | trans }}</a><br/>
<a href="{{ path('authme_show_skin')}}">{{ 'main.userSkins' | trans }}</a><br/>
<a href="{{ path('authme_login')}}">{{ 'mc.login' | trans }}</a><br/>

<h3>Donaciones</h3>
<a href="{{ path('product')}}">Productos</a><br/>
<a href="{{ path('donation_cart')}}">Cart</a><br/>
<a href="{{ path('bitcoin')}}">Bitcoin server</a><br/>
<a href="http://dejamejugar.enjin.com/">dejamejugar.enjin.com</a><br/>

{% endblock %}