{% extends '::base.html.twig' %}
 
{% block title %}Minecraft {{ 'main.usuarios' | trans }} online - {{ app.request.host }}{% endblock %}
 
{% block main %}

<h2>Minecraft {{ 'main.users' | trans }} online</h2>

<!--INFOLINKS_OFF-->
{% include 'FiterMinecraftBundle:Authme:parcial/search.html.twig' %}

{% for entity in entities %}
    <a href="{{ path('authme_show', { 'id': entity.id }) }}">{{ entity.username }}</a><br/>
    <!--<a href="{{ path('authme_edit', { 'id': entity.id }) }}">edit</a><br/>-->
    
    <!--<strong>Register:</strong> &nbsp;{{ entity.created|date("Y-m-d h:i:s") }} ({{ entity.created|time_ago_in_words }})<br/>-->

    <strong>{{ 'mc.Lastlogin' | trans }}:</strong> {{ entity.lastlogin }} ({{ entity.lastlogin|time_ago_in_words }})<br/>
    <img style="float:left;margin-right:3px" src='/mcskin/minecraft.php?u={{ entity.username }}&a=true' />
    <!--<img style="float:left;margin-right:3px" src="{{ path('authme_skin', { 'id': entity.id, 't' : '1' }) }}" />-->
    <img style="float:left;" src="/img/flags/res-36x36/{{entity.countryCode|lower}}.png">
    {{entity.city}} ({{entity.region}}) <br/>
    {{entity.countryName}}- {{entity.countryCode}}<br/>
    <!--<strong>&nbsp;IP:</strong> {#{ entity.ip }#}<br/>-->
    <strong>&nbsp;Premium:</strong> {% if entity.premium==1 %}Si{% else %}No{% endif %}<br/>

    {#% include 'FiterMinecraftBundle:Authme:parcial/banButtons.html.twig' %#}

    <div style="clear:both"></div>
    <br/><br/>
{% endfor %}
{#<a href="{{ path('authme_new') }}">Create a new entry</a>#}

    <script type="text/javascript" src="/bundles/fiterdefault/js/bootstrap.min.js"></script>
    <!--INFOLINKS_ON-->
{% endblock %}



{% block paginador %}
<section style="" class="paginador">
    <ul>
        {% if paginador.currentPage > 1 %}
            <li><a href="{{ path('authme_online', { 'page': paginador.previousPage}) }}">Anterior</a></li>
        {% endif %}

        {% for page in paginador.minPageInRange..paginador.maxPageInRange %}
            {% if page == paginador.currentPage %}
                <li class="active"><a href="#">{{ page }}</a></li>
            {% else %}
                <li><a href="{{ path('authme_online', { 'page': page }) }}">{{ page}}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginador.currentPage < paginador.lastPage %}
            <li><a href="{{ path('authme_online', { 'page': paginador.nextPage })}}">Siguiente</a></li>
        {% else %}
            
        {% endif %}
    </ul>
</section>
{% endblock %}  