<style type="text/css">
.contenedor_comentarios{
	font-size: 13px;
	line-height: 16px;
	font: normal normal normal 12px/16px "Helvetica Neue",Arial,sans-serif;
	margin-bottom:.9em;
	text-align: left;
}
.art_lnk{color: #818181;}
</style>
{% for r in res %}
<div class="contenedor_comentarios">
	{% if r.comment.authorName %}

		<a href="{{ path('admin_articulousuario', { 'nombre': r.comment.authorName }) }}">
	        <img class="imgComentario" style="float:left;width:32px;height:32px"
		        {% if file_exists(web_path~asset(  ['uploads/userimages/', r.comment.authorName, '.png']|join )) %}
		            src="{{ asset(  ['uploads/userimages/', r.comment.authorName, '.png']|join  )|imagine_filter('thumb_50x50') }}" 
		        {% else %}
		            src="{{ asset(  ['uploads/userimages/', 'anon', '.png']|join  )|imagine_filter('thumb_50x50') }}"
		        {% endif %}
	        alt="{{r.comment.authorName}}" />
        </a>
    {% endif %}

    <div style="float:left">
    	<a href="{{ path('admin_articulousuario', { 'nombre': r.comment.authorName }) }}">
			{% if r.comment.authorName %}{{r.comment.authorName}}{% else %}Anónimo{% endif %}
		</a><br/>
		<a class="art_lnk" href="{{ path('admin_articulo_show', { 'id': r.articulo.id , 'slug': r.articulo.slug}) }}">
			{{r.articulo.titulo|slice(0, 37)}}..
		</a><br/>
	</div>

	<div style="clear:both"></div>
	<div style="margin: .4em 0px 0px 0px">
	{{r.comment.body}}<br/>
	</div>
</div>
{% endfor %}

<a class="btn btn-success" href="#">Ver más</a>