<!-- <h3 style="margin:1em 0 0 0;">Acciones</h3> -->
<!-- <a href="{{ path('poll') }}">{{ 'main.polls' | trans }}</a><br/> -->
<!-- <a href="{#{ path('poll_new') }#}">{#{ 'main.addPoll' | trans }#}</a><br/> -->
<!-- <a href="{{ path('field') }}">{{ 'main.fields' | trans }}</a><br/> -->
<!-- <a href="{#{ path('field_new') }#}">{#{ 'main.addField' | trans }#}</a><br/> -->
<!--<a href="{{ path('answer') }}">{{ 'main.answers' | trans }}</a><br/>-->
<!-- <a href="{#{ path('answer_new') }#}">{{ 'main.addAnswer' | trans }}</a><br/> -->
<!-- <a href="{{ path('answergroup') }}">{{ 'main.answerGroups' | trans }}</a><br/>
<a href="{{ path('answergroup_new') }}">{{ 'main.addAnswerGroup' | trans }}</a><br/> -->