<article class="encuesta">
    <header>
        <h3><a href="{{ path('poll_show', { 'id': entity.id }) }}">{{ entity.title }}</a></h3>
        {% if (entity.usuario == app.user or is_granted('ROLE_ADMIN')) %}
        <span class="bloque">
		    <img class="ico" alt="editar" src="/img/edit.png">
		    <a href="{{ path('poll_edit', { 'id': entity.id }) }}">{{ 'main.editar' | trans }}</a>
		</span>
		{% endif %}
		<p>
	    	{{ 'main.por' | trans }} <a href="{{ path('pollusuario', { 'nombre': entity.usuario }) }}">{{ entity.usuario }} </a>
	    	<span>{% if entity.createdAt %}{{ entity.createdAt|time_ago_in_words }}{% endif %}   </span>
	    </p>
    </header>
    <div style="clear: both;"></div>
</article>
<div style="clear: both;"></div>