<a href="{{ path('poll_show', { 'id': entity.id }) }}">
    {#{ entity.id }#}{#{ 'main.title' | trans }#}{{ entity.title }}
</a> 
{% if entity.createdAt %}{{ entity.createdAt|time_ago_in_words }}{% endif %}
<span class="bloque">
    <img class="ico" alt="editar" src="/img/edit.png" />
    <a href="{{ path('poll_edit', { 'id': entity.id }) }}">{{ 'main.editar' | trans }}</a><br/>
</span>
<ol type="a" style="margin:0;">
      {% for field in entity.fields %}
          <li>
              <span>{{ field.title }}</span> {#{results[loop.index-1]}#}
              <!-- <a href="{#{ path('answer_new', { 'id': field.id }) }#}"><img class="ico" alt="likes" src="/img/like.png" /></a> -->
              <a href="{{ path('answer_create', { 'fieldId': field.id }) }}"><img class="ico" alt="likes" src="/img/like.png" /></a>
          </li>
      {% endfor %}
      <!-- <a href="{#{ path('poll_results', { 'pollId': entity.id }) }#}">Ver resultados</a><br/> -->
    </ol>
    <br/>



